header {
  background-image: url("https://placehold.it/480x75");
  height: 75px;
}

nav {
  background-image: url("https://placehold.it/480x150");
  height: 150px;
}

.cur-articles article {
  background-image: url("https://placehold.it/480x125");
  height: 125px;
}

.prev-articles article {
  background-image: url("https://placehold.it/240x250");
  display: inline-block;
  float: left;
  width: 240px;
  height: 250px;
}

footer {
  background-image: url("https://placehold.it/480x80");
  height: 80px;
}

.clearfix {
  clear: both;
}
